*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f5f7fb;
  color: #333;
}
header{
    background-color: #0a4cff;
    color: #fff;
    padding: 14px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
}
.logo h1{
    font-size: 25px;
  
}
.logo img{
    width: 40px;
    height: auto;
}

.menu{
    display: flex;
    align-items: center;
    gap: 15px;
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 6px 8px;
    position: relative;
    transition: color 0.3s ease;
    border-radius: 45%;
    
}
.menu a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: -1;
}
.menu a:hover{
    color: #cce0ff;
    background-color: white;
}
.menu a:hover::before{
    width: 100%;
}
.menu a.active{
    color: #2c6bed;
    background-color: white;
    border-radius: 45%;
}
.contact-section {
  max-width: 1200px;
  margin: 80px auto;
  padding: 0 20px;
}

.contact-section h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 8px;
}

.contact-desc {
  text-align: center;
  color: #666;
  margin-bottom: 50px;
}
.contact-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-item {
  display: flex;
  align-items: flex-start;
  gap: 14px;
  background: #fff;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 6px 16px rgba(0,0,0,0.08);

}
.contact-item:hover{
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.12);
}
.contact-item img{
    width: 20px;
}
.contact-item span {
  font-size: 22px;
}

.contact-item h4 {
  margin-bottom: 4px;
  font-size: 16px;
}

.contact-item p {
  font-size: 14px;
  color: #555;
}

/* MAP */
.contact-map {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.contact-map iframe {
  width: 100%;
  height: 100%;
  min-height: 380px;
  border: 0;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .contact-wrapper {
    grid-template-columns: 1fr;
  }
}