*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
  background: #f5f7fb;
  color: #333;
}
header{
    background-color: #0a4cff;
    color: #fff;
    padding: 14px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
}
.logo h1{
    font-size: 25px;
  
}
.logo img{
    width: 40px;
    height: auto;
}

.menu{
    display: flex;
    align-items: center;
    gap: 15px;
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 6px 8px;
    position: relative;
    transition: color 0.3s ease;
    border-radius: 45%;
    
}
.menu a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: -1;
}
.menu a:hover{
    color: #cce0ff;
    background-color: white;
}
.menu a:hover::before{
    width: 100%;
}
.menu a.active{
    color: #2c6bed;
    background-color: white;
    border-radius: 45%;
}

/* Section */
.product-section {
  max-width: 1200px;
  margin: 60px auto;
  padding: 0 20px;
  text-align: center;
}

.product-section h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}

.section-desc {
  color: #666;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 24px;
}
.product-card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s ease;
}
.product-card button a{
    text-decoration: none;
    color: white;
}
.product-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 14px 35px rgba(0,0,0,0.15);
}
.product-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 16px;
}
.product-card h3 {
  font-size: 18px;
  margin-bottom: 8px;
}
.price {
  font-size: 17px;
  font-weight: 600;
  color: #1e6bff;
  margin-bottom: 16px;
}
.product-card button {
  background: #1e6bff;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.product-card button:hover {
  background: #0f4dd9;
}
.back-wrapper{
  margin: 25px;
}
.back-btn{
  position: relative;
  display: inline-block;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  border-radius: 30px;
  overflow: hidden;
  background: #2c6bed;
  border: 2px solid white;
  transition: color 0.4 ease;
  z-index: 1;
}
.back-btn::before{
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 30px;
  transition: left 0.4s ease;
  z-index: -1;
}
.back-btn:hover::before{
  left: 0;
}
.back-btn:hover{
  color: #2c6bed;
}