*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #f4f6f8;
    color: #333;
}
header{
    background-color: #0a4cff;
    color: #fff;
    padding: 14px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-weight: bold;
}
.logo h1{
    font-size: 25px;
  
}
.logo img{
    width: 40px;
    height: auto;
}

.menu{
    display: flex;
    align-items: center;
    gap: 15px;
}
.menu a{
    color: white;
    text-decoration: none;
    padding: 6px 8px;
    position: relative;
    transition: color 0.3s ease;
    border-radius: 45%;
    
}
.menu a::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    z-index: -1;
}
.menu a:hover{
    color: #cce0ff;
    background-color: white;
}
.menu a:hover::before{
    width: 100%;
}
.menu a.active{
    color: #2c6bed;
    background-color: white;
    border-radius: 45%;
}
.hero{
    background: linear-gradient(to right, #0a4cff, #3f7cff);
    color: #fff;
    padding: 60px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-text h2{
    font-size: 36px;
    margin-bottom: 15px;
}
.hero-text p{
    font-size: 18px;
    margin-bottom: 25px;
}
.slider{
            width: 300px;
            height: 200px;
            overflow: hidden;
        }
        .slides{
            display: flex;
            width: 300%;
            animation: slide 16s infinite cubic-bezier(0.4, 0, 0.2,1);
        }
        .slides img{
            width: 300px;
            height: 200px;
            object-fit: contain;
        }
.section{
    padding: 40px;
}
.section h3{
    font-size: 26px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: 600;
}
.kategori{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    box-shadow: 0 8px 20px rgba(0,0,0,0,1.5);
    cursor: pointer;
}
.card{
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0,1);
    transition: transform 0.3s ease;
}
.card img{
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 15px;
}
.card h4{
    margin-bottom: 10px;
}
.card:hover{
    transform: scale(1.08);
    border: 2px solid #1e6bff;
}
footer{
    background-color: #0a4cff;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 40pxs;

}
.social{
    margin-top: 12px ;
}
.social a img{
    width: 28px;
    height: 28px;
    margin: 0 12px;
    transition: 0.3s ease;
    background: white;
    border-radius: 50%;
}
.social a img:hover{
    transform: scale(1.2);
}
@media(max-width: 768px){
    header{
        flex-direction: column;
        gap: 10px;
    }
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .hero img{
        margin-top: 30px;
    }
}
@keyframes slide{
            0%,12.5% {transform: translateX(0);}
            25%,37.5% {transform: translateX(-300px);}
            50%,62.5% {transform: translateX(-595px);}
            75%,87.5% {transform: translateX(-900px);}
            100% {transform: translateX(0);}
        }